@model Nop.Plugin.Misc.VendorRegistration.Models.ConfigurationModel
@{
    Layout = "_ConfigurePlugin";
}

@await Component.InvokeAsync(typeof(StoreScopeConfigurationViewComponent))

<form asp-controller="ProductLiveButtonAdmin" asp-action="Configure" method="post">
    <div class="cards-group">
        <div class="card card-default">
            <div class="card-body">
                @T("Plugins.Widgets.GoogleAnalytics.Instructions")              
            </div>
        </div>
        <div class="card card-default">
            <div class="card-body">
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-label asp-for="ButtonTitle" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="ButtonTitle" />
                        <span asp-validation-for="ButtonTitle"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-label asp-for="ButtonBackgroundColor" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="ButtonBackgroundColor" />
                        <span asp-validation-for="ButtonBackgroundColor"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-label asp-for="ButtonTextColor" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="ButtonTextColor" />
                        <span asp-validation-for="ButtonTextColor"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-label asp-for="ShowInProductBox" />
                    </div>
                    <div class="col-md-9">
                        <input class="form-check-input" type="checkbox" asp-for="ShowInProductBox" />
                        <span asp-validation-for="ShowInProductBox"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-label asp-for="CustomCss" />
                    </div>
                    <div class="col-md-9">
                        <nop-textarea asp-for="CustomCss" />
                        <span asp-validation-for="CustomCss"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-9 offset-md-3">
                        <button type="submit" name="save" class="btn btn-primary">@T("Admin.Common.Save")</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>