@{
    Layout = "_ConfigurePlugin";
    NopHtml.SetActiveMenuItemSystemName("nopCommerce Web API plugin");
}


<h1>Web API (official plugin)</h1>


<p>The Web API plugin from nopCommerce allows you to develop any integration with third-party services much faster and cheaper.</p>


