@model ProductDemoModel
<style>
    .live-button-div
    {
        margin-bottom: 10px;
        text-align: center;
    }
    .live-button
    {
        height: 43px;
        border: 0;
        background-color: #4ab2f1;
        padding: 0 24px;
        font-size: 15px;
        color: #fff;
    }
</style>
@if(Model.DemoLink != null && Model.DemoLink != string.Empty)
{
    <div class="live-button-div">
        <button type="button" class="button-1 live-button" onclick="goToDemoPage('@Model.DemoLink')">Live Preview</button>
    </div>
    <script>
        $(function () {
           //move to right position
            $(".live-button-div").insertAfter(".gallery .picture");

            
            


        })
        function goToDemoPage(link) {
            window.open(link, '_blank');
        }
    </script>
}
